<!DOCTYPE html>
<html lang="en">
<head>
    <title>MiriamPi{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

    <div class="w3-bar w3-teal">
    {%- for item in navigation %}
        <a href="/Tab/{{ item }}" class="w3-bar-item w3-button w3-medium{% if activeTab == item %} w3-grey{% endif %}">{{ item }}</a>
    {%- endfor %}
    {%- block contextMenu %}
    {%- endblock contextMenu %}
    </div>

    {%- block tabContent %}
    <div class="w3-container w3-border">
        <h1>Uh oh...</h1>
        <p>Something went wrong...no content available</p>
    </div>
    {%- endblock tabContent %}

    <div class="w3-container w3-teal" style="position: -webkit-sticky position: sticky bottom: 0">
        <p>Created by Kevin VanDyk &copy;2017</p>
    </div>

</body>
</html>
